{% extends "baseAdmin.html.twig" %}
{% block banner  %}
    <!--Banner section start-->
    <div class="cy_bread_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Historique</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{%  block content %}
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic Sortable Table</h4>
                                <div class="row">
                                    <div class="table-sorter-wrapper col-lg-12 table-responsive">
                                        <table id="sortable-table-1" class="table">
                                            <thead>
                                            <tr>
                                                <th class="sortStyle">id<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">description<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">idCommande<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">montant<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">Username<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">cardNumber<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">modifier<i class="icon-arrow-down"></i></th>
                                                <th class="sortStyle">annuler<i class="icon-arrow-down"></i></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for paiement in paiements  %}
                                                <tr>
                                                    <td>{{paiement.id}}</td>
                                                    <td>{{paiement.description}}</td>
                                                    <td>{{paiement.commande.id}}</td>
                                                    <td>{{paiement.totalAmount}}</td>
                                                    <td>{{paiement.commande.user.username}}</td>
                                                    <td>{{paiement.cardNumber}}</td>
                                                    <td class="sortStyle"><a href="{{ path('preparerPaiement') }}" class="badge badge-info">modifier</a></td>
                                                    <td class="sortStyle"><a href="" class="badge badge-danger">supprimer</a></td>

                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascript  %}
{{ parent() }}
<scrip>

</scrip>
{%  endblock   %}
