{% extends "base.html.twig" %}

{% block banner %}
    <!--Banner section start-->
    <div class="cy_bread_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>checkout</h1>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- checkout section start -->
    <div class="cy_checkout_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 offset-lg-2">
                    <div class="cy_checkout_box">
                        <ul id="progressbar">
                            <li>Billing Details</li>
                            <li class="active">Payment</li>
                            <li>Receipt</li>
                        </ul>
                        <div class="woocommerce-checkout-payment step">
                            {{ form_start(form,{'attr':{"id":"payment"}}) }}
                            <div class="row">
                                <div class="col-lg-10 col-md-10 ml-5">
                                    <div class="wc_payment_method payment_method_bacs">
                                        <div class="form-group">
                                            <label>Credit Card</label>
                                            {{ form_widget(form.cardHolderName,{'attr':{'class':'form-control' ,'placeholder': "Card Holder Name" , 'type' : "text"} }) }}
                                            {{ form_widget(form.cardNumber,{'attr':{'class':'form-control' ,'placeholder': "card number" , 'type' : "text"} }) }}
                                            {{ form_widget(form.securityCode,{'attr':{'class':'form-control' ,'placeholder': "Security Code" , 'type' : "text"} }) }}
                                            <div class="expiry_date">
                                                <label>Expiry Date</label>
                                                {{ form_widget(form.moiExpiration,{'attr':{'class':'form-control' ,'placeholder': "Expiration Month" , 'type' : "text"} }) }}
                                                {{ form_widget(form.anneeExpiration,{'attr':{'class':'form-control' ,'placeholder': "Expiration Year" , 'type' : "text"} }) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="cy_button float-right" value="pay"></input>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script>
               $(function () {
                    $.validator.setDefaults({
                        errorClass: 'invalid-feedback',
                        highlight: function(element) {
                            $(element).addClass('is-invalid');
                        },
                        unhighlight: function(element) {
                            $(element).removeClass('is-invalid');
                        },
                        errorPlacement: function(error, element) {
                            if (element.prop('type') === 'text' || element.prop('type') === 'mail' || element.prop('type') === 'password') {
                                element.after(error);
                            } else if (element.prop('type') === 'radio') {
                                element.parent().parent().after(error);
                            }
                        }
                    });

                    $.validator.addMethod('yearControl', function(value, element) {
                        return this.optional(element) ||
                            value>=2020 &&
                            /\d/.test(value)
                    }, 'Entrez une année correcte supérieure à l"actuelle svp');

                    $.validator.addMethod('monthControl', function(value, element) {
                        return this.optional(element) ||
                            value>= 1 && value<= 12 &&
                            /\d/.test(value);
                    }, 'Entrez un mois correcte');

                    $.validator.addMethod("specialChars", function(value, element) {
                        var regex = new RegExp("^[a-zA-Z0-9éèà]+$");
                        var key = value;

                        if (!regex.test(key)) {
                            return false;
                        }
                        return true;
                    }, "Pas de caractères spéciaux");

                    $.validator.addMethod("cardNumberControl",function(value, element) {
                    return this.optional(element) ||
                        value.length==4 &&
                        /\d/.test(value)
                }, '4s chiffres svp');

                    $.validator.addMethod("securityControl", function(value, element) {
                        var regex = new RegExp("^[1-9]{1}[0-9]{2}\\s{0,1}[0-9]{3}$");
                        return this.optional(element) ||
                            value.length==5 &&
                            /\d/.test(value)
                    }, '5 chiffres svp');
                    var isOneFieldEmpty = false;
                    var submit = false;

                    $("#payment").validate({
                        onkeyup: (element) => {
                            $(element).valid();
                        },
                        rules: {
                            'commandebundle_payment[anneeExpiration]': {
                                required: true,
                                yearControl: true,
                            },
                            'commandebundle_payment[cardHolderName]': {
                                required: true,
                                nowhitespace: true,
                                specialChars: true,
                            },
                            "commandebundle_payment[securityCode]": {
                                required: true,
                                securityControl:true
                            },
                            "commandebundle_payment[cardNumber]": {
                                required: true,
                                cardNumberControl:true
                            },
                            "commandebundle_payment[moiExpiration]":{
                                required: true,
                                monthControl:true

                            }
                        },
                        messages: {
                            'commandebundle_payment[anneeExpiration]': {
                                required: 'ce champ est requis.',
                            },
                            'commandebundle_payment[cardHolderName]': {
                                required: 'ce champ est requis',
                                nowhitespace: "pas d'espace svp",
                            },
                            "commandebundle_payment[securityCode]": {
                                required: 'ce champ est requis',
                            },
                            "commandebundle_payment[cardNumber]": {
                                required: "vous devez remplir"
                            },
                            "commandebundle_payment[moiExpiration]": {
                                required: "vous devez remplir",

                            },
                            "commandebundle_adresse[adresseLivraison]":{
                                required: "vous devez remplir"
                            }
                        },
                        submitHandler: function(form) {
                            form.submit();
                        }
                    })
                })
            </script>
        {% endblock %}

