{% extends 'home.html.twig' %}
{% block content %}
    <div class="cy_shop_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 push-lg-4">
                    <div class="cy_shop_page" id="products">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-5">
                                <div class="cy_shop_view">
                                    <ul>
                                        <li class="active"><a href="#" id="grid"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
                                        <li><a href="#" id="list"><i class="fa fa-list-ul" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-7">
                                <div class="cy_showing_product">
                                    <p>Showing 6 </p>
                                </div>
                            </div>

                            {% for i in velos %}

                                <div class="col-lg-6 col-md-6 item">
                                <div class="cy_store_box">
                                    <div class="cy_store_img">



                                        <a href="{{ path('showVelo', {'id': i.id}) }}">
                                            <img src="{{ asset('Frontend/images/store/'~i.photoV) }}" class="img-fluid">
                                        </a>
                                    </div>
                                    <div class="cy_store_data">
                                        {% if (i.soldee==0) %}

                                        <div class="cy_store_text">
                                            <h3><a href="{{ path('showVelo', {'id': i.id}) }}">{{ i.marque }}</a></h3>
                                            <ul>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                                            </ul>
                                        </div>
                                            <p> {{ i.description }} </p>
                                        <a href="{{path('pageProduit',{'quantite':i.qtEnStock})}}" class="cy_button"  data-hover="Add to Cart"><span > {{ i.prixAchat }}DT </span></a>
                                          {% else  %}

                                              <div class="cy_store_text">
                                                  <h3><a href="{{ path('showVelo', {'id': i.id}) }}">{{ i.marque }}</a></h3>
                                                  <h7 style="background-color: red ; color: white " >{{ (i.prixAchat - i.soldee)*100/i.prixAchat }}%</h7>
                                                  <span >

                                                      <h5 style="color: red"><strike>{{ i.prixAchat }}DT</strike></h5>
                                                  </span>

                                              </div>
                                              <p> {{ i.description }} </p>
                                              <a href="{{path('pageProduit',{'quantite':i.qtEnStock})}}" class="cy_button" style="background-color:red" data-hover="Add to Cart"><span >
                                                      <STRONG>{{ i.soldee }}DT</STRONG> </span></a>

                                        {% endif  %}
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            <div class="col-lg-12 col-md-12">
                                <div class="cy_pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            {{ knp_pagination_render(velos) }}
                                           {# <li><a href="#" class="page_pre"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li><a href="#" class="active">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li><a href="#" class="page_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>#}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pull-lg-8">
                    <div class="cy_shop_sidebar">
                        <div class="widget woocommerce widget_product_search">
                            <form class="search-form">
                                <div class="input-group">
                                    <input type="text" value="" name="s" class="form-control" placeholder="Search">
                                    <span class="cy_search_btn">
                                        <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="widget woocommerce widget_category">
                            <h3 class="woocommerce_widget_title">Categories</h3>
                            <ul>
                                <li>
                                    <label class="categorie" contenu="Vélos de route">Vélos de route
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Vélos de route Flat Bar">Vélos de route Flat Bar
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Vélos de tourisme">Vélos de tourisme
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie"  contenu="Vélos hybrides">Vélos hybrides
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie"  contenu="Vélos Cross">Vélos Cross
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie"  contenu="Vélos de transport">Vélos de transport
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie"  contenu="Autres">Autres
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>

                            </ul>
                        </div>
                        <div class="widget woocommerce widget_price">
                            <h3 class="woocommerce_widget_title">Prix</h3>
                            <div id="slider-range">  <div class="col-lg-3 col-md-3 col-sm-4">
                                    <div class="cy_shorting">
                                        <input type="checkbox">
                                        <span class="checkmark"><a href="{{ path('asc') }}">asc</a></span>
                                        <input type="checkbox">
                                        <span class="checkmark"> <a href="{{ path('desc') }}">desc</a></span>

                                        {# <select>
                                             <option selected>Short by</option>
                                             <option value="1">Default</option>
                                             <option value="2">Ascending</option>
                                             <option value="3">Decending</option>
                                         </select>#}
                                    </div>
                                </div>
                            </div>
                            <div class="cy_range">
                                <input type="text" id="amount" readonly>
                            </div>
                        </div>
                        <div class="widget woocommerce widget_availability">
                            <h3 class="woocommerce_widget_title">Disponibilité</h3>
                            <ul>
                                <li>
                                    <label>Disponible
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label>Non disponiple
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="widget woocommerce widget_color">
                            <h3 class="woocommerce_widget_title">Couleur</h3>
                            <ul>
                                <li>
                                    <label class="couleur" contenu="blanc">blanc
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="noir">noir
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="rouge">rouge
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="marron">marron
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="Navy">Navy
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="Bleu">Bleu
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="gris">gris
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="couleur" contenu="vert">vert
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="widget woocommerce widget_size">
                            <h3 class="woocommerce_widget_title">taille</h3>
                            <ul>
                                <li>
                                    <label class="taille" contenu="petit">petit
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="taille" contenu="moyen">moyen
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="taille" contenu="grand">grand
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="taille" contenu="tres grand">tres grand
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
<script>
    $(function(){
        let tab={
            categorie:"",
            taille:"",
            couleur:""
        };
        $('[type="checkbox" ]').click(function(){
            if($(this).parent().attr("class")=="categorie")
                tab.categorie=$(this).parent().attr("contenu");
         else  if($(this).parent().attr("class")=="taille")
                tab.taille=$(this).parent().attr("contenu");
            else  if($(this).parent().attr("class")=="couleur")
                tab.couleur=$(this).parent().attr("contenu");
          $.ajax({
              type:"get",
              url:"{{ path('filtre') }}",
              data:{
                  tab:tab,
              },
              success:function(response){
                  console.log(response);
                  $(".col-lg-6.col-md-6.item").remove();
                  let content="";

                  response.criteres.forEach(element=>{
                      content+= '<div class="col-lg-6 col-md-6 item">' +
                          '<div class="cy_store_box">'+
                          '<div class="cy_store_img">'+
                          '<a href="'+Routing.generate('showVelo',{id:element.id})+'">'+
                          '<img src="../../Frontend/images/store/'+element.photoV+'" class="img-fluid">'+
                          '</a>'+
                          '</div>'+
                          '<div class="cy_store_data">';

                      if (element.solde == 0) {
                      content+= '<div class="cy_store_text">'+
                              '<h3><a href="'+Routing.generate('showVelo',{id:element.id})+'">'+element.marque+'</a></h3>'+
                          '<ul>'+
                          '<li><i class="fa fa-star" aria-hidden="true"></i></li>'+
                          '<li><i class="fa fa-star" aria-hidden="true"></i></li>'+
                          '<li><i class="fa fa-star" aria-hidden="true"></i></li>'+
                          '<li><i class="fa fa-star" aria-hidden="true"></i></li>'+
                          '<li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>'+
                          '</ul>'+
                          '</div>'+
                          '<p> '+element.description+'</p>'+
                          '<a href="'+Routing.generate('pageProduit',{'quantite':element.qtEnStock})+'" class="cy_button"  data-hover="Add to Cart"><span > '+element.prixAchat+'DT </span></a>';
                      }


                      else {
                          content+='<div class="cy_store_text">'+
                              '<h3><a href="'+Routing.generate('showVelo',{id:element.id})+'">'+element.marque+'</a></h3>'+
                          '<h7 style="background-color: red ; color: white " >'+(element.prixAchat-element.soldee)*100/element.prixAchat+'%</h7>'+

                          '<span >'+

                              '<h5 style="color: red"><strike>'+element.prixAchat+'DT</strike></h5>'+
                          '</span>'+

                          '</div>'+
                          '<p> '+element.description+' </p>'+
                          '<a href="'+Routing.generate('pageProduit',{'quantite':element.qtEnStock})+'" class="cy_button" style="background-color:red" data-hover="Add to Cart"><span >'+
                              '<STRONG>'+element.soldee+'DT</STRONG> </span></a>';
                      }
                      content+='</div> </div> </div>';
                  })
                  $(".col-lg-6.col-md-6.col-sm-5.col-7").after(content);
              }
          })
        })
    })
</script>
{% endblock %}