<!DOCTYPE html>
<!--
**********************************************************************************************************
    Copyright (c)
********************************************************************************************************** -->
<!--
Template Name: Cycling- Html Template
Version: 1.0.0
Author: Kamleshyadav
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->


<!-- Mirrored from kamleshyadav.in/html/cycling/version-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Feb 2020 05:49:02 GMT -->
    <head>
        <title> {% block title %}Cycling - Html Template  {% endblock  %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Hsoft">
        <meta name="MobileOptimized" content="320">
        <!-- favicon links-->
        {% block stylesheet %}
        <link rel="icon" type="image/icon" href="{{ asset('Frontend/images/favicon.png') }}">
        <!-- main css -->
        <link rel="stylesheet" href="{{ asset('Frontend/css/bootstrap.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <link rel="stylesheet" href="{{ asset('Frontend/css/fonts.css') }}">
        <link rel="stylesheet" href="{{ asset('Frontend/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('Frontend/css/custom-animation.css') }}">
        <link rel="stylesheet" href="{{ asset('Frontend/js/plugin/owl/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('Frontend/js/plugin/owl/owl.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('Frontend/js/plugin/magnific/magnific-popup.css') }}">
        <link href="{{ asset('Frontend/js/plugin/revolution/css/settings.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('Frontend/js/plugin/revolution/css/layers.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('Frontend/js/plugin/revolution/css/navigation.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('Backoffice/css/toastr.css') }}">
            <link rel="stylesheet" href="{{ asset('Frontend/css/style.css') }}">


        {% endblock %}
    </head>
    <body>

        {% block header %}
            {% block loader %} {% endblock %}
            <!--Top bar start-->
            <div class="cy_top_wrapper">
                <div class="cy_top_info">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="cy_top_detail">
                                    <ul>

                                        <li><a href="#">EMAIL: Info@yourmail.com</a></li>

                                        <li>PHONE: 18009001010</li>

                                        <li>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </li>

                                        <li class="cart"><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                {% if app.session.get('panierWithData') is defined and  not null     %}

                                                <span>{{  app.session.get('nombre')}}</span></a>
                                            <ul class="cart_box">
                                                    {% for item in app.session.get('panierWithData')  %}
                                                        {% if item.produit is defined and not null %}
                                                            <li>
                                                                <div class="cart_section">
                                                                    <div class="cart_img">
                                                                        <a href="#"><img src="{{ asset(item.produit.image) }}" alt="cart" class="img-fluid"></a>
                                                                    </div>
                                                                    <div class="cart_detail">
                                                                        <h4><a href="cart.html">{{item.produit.nom}}</a></h4>
                                                                        <h5>${{item.produit.prix * item.quantite}}</h5>
                                                                    </div>
                                                                    <a class="cart_delete" href="{{ path('supprimerPanier',{"id":item.produit.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                                </div>
                                                            </li>
                                                        {% endif %}


                                                    {% endfor %}
                                                     <li>
                                                    <div class="cart_section">
                                                        <div class="cart_total">
                                                            <h4>Subtotal<span>${{ app.session.get('total') }}</span></h4>
                                                        </div>
                                                    </div>

                                                </li>
                                                <li>
                                                    <div class="cart_section">
                                                        <a href="{{path('afficherPanier')}}" class="cy_button">view cart</a>
                                                        <a href="checkout.html" class="cy_button">Checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                            {% endif %}

                                        </li>



                                        <li class="cart"><a href="#"><i class="fa fa-bell" aria-hidden="true"></i>
                                                <span>
                                                    {% if app.user != null %}
                                                    {{ mgilet_notification_count(app.user) }}
                                                    {% endif %}
                                                </span></a>
                                            <ul class="cart_box">
                                                <li>
                                                    <div class="cart_section">



                                                            <h8>
                                                                {% if app.user != null %}
                                                                    {{ mgilet_notification_render(app.user) }}
                                                                {% endif %}

                                                            </h8>


                                                        <a class="cart_delete"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="cart_section">
                                                        <a href="cart.html" class="cy_button">view cart</a>
                                                        <a href="checkout.html" class="cy_button">Checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li></li>


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sign icons -->
            <div class="cy_sign_wrapper">
            {% if is_granted('ROLE_USER') %}
                <h2 class="signin"><i class="fa fa-sign-in" aria-hidden="true"></i><a href="{{ path('fos_user_security_logout') }}" >Log out</a></h2>
                <h2 class="signup"><i class="fa fa-user-plus" aria-hidden="true"></i><a href="{{ path('fos_user_profile_edit') }}" >Prof</a></h2>
            {% else %}
                <h2 class="signin"><i class="fa fa-sign-in" aria-hidden="true"></i><a href="{{ path('fos_user_security_login') }}" >Sign In</a></h2>
                <h2 class="signup"><i class="fa fa-user-plus" aria-hidden="true"></i><a href="{{ path('fos_user_registration_register') }}" >Sign Up</a></h2>
            {% endif %}

            </div>
            <!-- sign in modal -->
        {% block SignIn%}
        {% endblock %}
            <!-- sign up modal -->
        {% block SignUp %}
        {% endblock %}
            {% block banner %}{% endblock %}

            <!--Menus Start-->
            <div class="cy_menu_wrapper">
                <div class="cy_logo_box">
                    <a href="index.html"><img src="{{ asset('Frontend/images/logo.png') }}" alt="logo" class="img-fluid"/></a>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <button class="cy_menu_btn">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                            <div class="cy_menu">
                                <nav>
                                    <ul>
                                        <li><a href="" class="">home</a></li>
                                        <li><a href="">about</a></li>
                                        <li class="dropdown"><a href="javascript:;">event</a>
                                            <ul class="sub-menu">
                                                <li><a href="">event</a></li>
                                                <li><a href="">event single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="javascript:;">blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="">blog</a></li>
                                                <li><a href="">blog single</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="javascript:;">pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="{{ path('listeVelo') }}">shop</a></li>
                                                <li><a href="{{ path('shopS') }}">shop single</a></li>
                                                <li><a href="">cart</a></li>
                                                <li><a href="">checkout</a></li>
                                                <li><a href="">404</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">gallery</a></li>
                                        <li><a href="{{ path ('reclamation_ajoutRec') }}"  class="active"  >Reclamation</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="cy_search">
                                <a href="#" class="search_open"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- search section -->
            <div class="cy_search_form">
                <button class="search_close"><i class="fa fa-times"></i></button>
                <div class="cy_search_input">
                    <input type="search" placeholder="search">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        {% endblock %}

        {% block content %}
              {#  Contenu pour chaque page   #}
        {% endblock %}






        {% block footer %}
            <!--Footer section start-->
            <div class="cy_footer_wrapper cy_section_padding padder_bottom75">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget cy_footer_about">
                                <img src="{{ asset('Frontend/images/logo.png') }}" alt="logo" class="img-fluid"/>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h1 class="widget-title">recent blog</h1>
                                <div class="cy_recent_post">
                                    <div class="cy_post_img">
                                        <a href="#"><img src="{{ asset('Frontend/images/footer/post1.jpg') }}" alt="post"/></a>
                                    </div>
                                    <div class="cy_post_data">
                                        <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                                        <p>14 Apr, 2018</p>
                                    </div>
                                </div>
                                <div class="cy_recent_post">
                                    <div class="cy_post_img">
                                        <a href="#"><img src="{{ asset('Frontend/images/footer/post2.jpg') }}" alt="post"/></a>
                                    </div>
                                    <div class="cy_post_data">
                                        <h3><a href="#">Selecting The Proper Bicycle</a></h3>
                                        <div class="cy_post_info"><p>14 Apr, 2018</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h1 class="widget-title">contact info</h1>
                            </div>
                            <div class="cy_foo_contact">
                                <span><img src="{{ asset('Frontend/images/svg/map-mark.svg') }}" alt="map-mark"></span>
                                <div class="cy_post_info">
                                    <p>10221 Magnolia Grove Dr,  Manassas, VA, 20110</p>
                                </div>
                            </div>
                            <div class="cy_foo_contact">
                                <span><img src="{{ asset('Frontend/images/svg/phone.svg ') }}" alt="phone"></span>
                                <div class="cy_post_info">
                                    <p>Office :- +1-512-555-0190</p>
                                    <p>Office :- +1-512-555-0190</p>
                                </div>
                            </div>
                            <div class="cy_foo_contact">
                                <span><img src="{{ asset('Frontend/images/svg/email.svg') }}" alt="email"></span>
                                <div class="cy_post_info">
                                    <p><a href="#">help@yourmail.com</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget">
                                <h1 class="widget-title">flicker widget</h1>
                                <div class="cy_foo_gallery">
                                    <ul>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal1.jpg') }}" alt="flicker gallery"></a></li>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal2.jpg') }}" alt="flicker gallery"></a></li>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal3.jpg') }}" alt="flicker gallery"></a></li>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal4.jpg') }}" alt="flicker gallery"></a></li>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal5.jpg') }}" alt="flicker gallery"></a></li>
                                        <li><a href="#"><img src="{{ asset('Frontend/images/footer/gal6.jpg') }}" alt="flicker gallery"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bottom footer start-->
            <div class="cy_btm_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <P>Copyright &copy; 2018, <a href="#">Cycling</a>. All Rights Reserved.</P>
                        </div>
                    </div>
                </div>
            </div>
            <!--Go to top start-->
            <div class="cy_go_to">
                <div class="cy_go_top">
                    <img src="{{ asset('Frontend/images/go_to_top.png') }}" alt="Back to top">
                </div>
            </div>
        {% endblock %}







        {% block javascripts %}
            <!--scripts start-->
            <script src="{{ asset('Frontend/js/jquery.js') }}"></script>
            <script src="{{ asset('Frontend/js/tether.min.js') }}"></script>
            <script src="{{ asset('Frontend/js/bootstrap.min.js') }}"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

            <script src="{{ asset('Frontend/js/jquery.countTo.js') }}"></script>
            <script src="{{ asset('Frontend/js/appear.js') }}"></script>
            <script src="{{ asset('Frontend/js/wow.js') }}"></script>
            <script src="{{ asset('Frontend/js/plugin/owl/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('Frontend/js/plugin/magnific/jquery.magnific-popup.min.js') }}"></script>
            <!--Revolution slider js-->
            <script src="{{asset('Frontend/js/plugin/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/revolution.extension.navigation.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/revolution.extension.slideanims.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/revolution.extension.layeranimation.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/revolution.extension.parallax.min.js')}}"></script>
            <script src="{{asset('Frontend/js/plugin/revolution/js/revolution.extension.kenburn.min.js')}}"></script>
            <script src="{{asset('Frontend/js/jquery.nice-select.min.js')}}"></script>
            <script src="{{asset('Frontend/js/custom.js')}}"></script>
            <script src="{{asset('Frontend/js/bootstrap-input-spinner.js')}}"></script>
            <script src="{{ asset('Backoffice/js/toastr.js') }}"></script>
            <script src="{{ asset('Frontend/js/validator.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.js"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script>
            </script>

        {% endblock %}
    </body>
</html>
