{% extends 'home.html.twig' %}
{% block content %}
    <div class="cy_shop_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 push-lg-4">
                    <div class="cy_shop_page" id="products">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-5">
                                <div class="cy_shop_view">
                                    <ul>
                                        <li class="active"><a href="#" id="grid"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
                                        <li><a href="#" id="list"><i class="fa fa-list-ul" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-5 col-7">
                                <div class="cy_showing_product">
                                    <p>Showing 6 </p>
                                </div>
                            </div>



                            {% for i in ACs %}

                                <div class="col-lg-6 col-md-6 item">
                                    <div class="cy_store_box">
                                        <div class="cy_store_img">
                                            <a href="{{ path('showAC', {'id': i.id}) }}">
                                                <img src="{{ asset('Frontend/images/store/'~i.photoA) }}" class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="cy_store_data">
                                            {% if (i.soldee==0) %}

                                                <div class="cy_store_text">
                                                    <h3><a href="{{ path('showAC', {'id': i.id}) }}">{{ i.marque }}</a></h3>

                                                </div>
                                                <p> {{ i.description }} </p>
                                                <a href="cart.html" class="cy_button"  data-hover="Add to Cart"><span > {{ i.prix }}DT </span></a>
                                            {% else  %}

                                                <div class="cy_store_text">
                                                    <h3><a href="{{ path('showAC', {'id': i.id}) }}">{{ i.marque }}</a></h3>
                                                    <h7 style="background-color: red ; color: white " >{{ (i.prix - i.soldee)*100/i.prix }}%</h7>
                                                    <span >

                                                      <h5 style="color: red"><strike>{{ i.prix }}DT</strike></h5>
                                                  </span>

                                                </div>
                                                <p> {{ i.description }} </p>
                                                <a href="cart.html" class="cy_button" style="background-color:red" data-hover="Add to Cart"><span >
                                                      <STRONG>{{ i.soldee }}DT</STRONG> </span></a>

                                            {% endif  %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            <div class="col-lg-12 col-md-12">
                                <div class="cy_pagination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            {{ knp_pagination_render(ACs) }}
                                            {# <li><a href="#" class="page_pre"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                                             <li><a href="#">1</a></li>
                                             <li><a href="#" class="active">2</a></li>
                                             <li><a href="#">3</a></li>
                                             <li><a href="#">4</a></li>
                                             <li><a href="#">5</a></li>
                                             <li><a href="#" class="page_next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>#}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 pull-lg-8">
                    <div class="cy_shop_sidebar">

                        <div class="widget woocommerce widget_category">
                            <h3 class="woocommerce_widget_title">Categories</h3>
                            <ul>
                                <li>
                                    <label class="categorie" contenu="Remorques & Poussettes">Remorques & Poussettes
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Eclairage">Eclairage
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Béquilles">Béquilles
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Sieges enfants">Sieges enfants
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Compteurs">Compteurs
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Sacoches & Paniers vélo">Sacoches & Paniers vélo
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="porte-Bagage">porte-Bagage
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Systeme de navigation GPS">Systeme de navigation GPS
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Montres cardio & sports">Montres cardio & sports
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Pompes">Pompes
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Equipement Cyclotourisme">Equipement Cyclotourisme
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label >
                                </li>
                                <li>
                                    <label class="categorie" contenu="Entretient & Reparation">Entretient & Reparation
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Sonnettes">Sonnettes
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Sac & Sac à dos">Sac & Sac à dos
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Casques & Chapeaux">Casques & Chapeaux
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Tenus">Tenus
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Lunette & Masques">Lunette & Masques
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Nutrition sportive & Soins corporels">Nutrition sportive & Soins corporels
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Rangement & Transport">Rangement & Transport
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Bidons & Porte-bidons">Bidons & Porte-bidons
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Pieces Detachees">Pieces Detachees
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                                <li>
                                    <label class="categorie" contenu="Autres">Autres
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="widget woocommerce widget_price">
                            <h3 class="woocommerce_widget_title">Prix</h3>
                            <div id="slider-range">  <div class="col-lg-3 col-md-3 col-sm-4">
                                    <div class="cy_shorting">
                                        <input type="checkbox">
                                        <span class="checkmark"><a href="{{ path('ascA') }}">asc</a></span>
                                        <input type="checkbox">
                                        <span class="checkmark"> <a href="{{ path('descA') }}">desc</a></span>

                                        {# <select>
                                             <option selected>Short by</option>
                                             <option value="1">Default</option>
                                             <option value="2">Ascending</option>
                                             <option value="3">Decending</option>
                                         </select>#}
                                    </div>
                                </div>
                            </div>
                            <div class="cy_range">
                                <input type="text" id="amount" readonly>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            let tab={
                categorie:""

            };
            $('[type="checkbox" ]').click(function(){
                if($(this).parent().attr("class")=="categorie")
                    tab.categorie=$(this).parent().attr("contenu")

                $.ajax({
                    type:"get",
                    url:"{{ path('filtreAC') }}",
                    data:{
                        tab:tab,
                    },
                    success:function(response){
                        console.log(response);
                        $(".col-lg-6.col-md-6.item").remove();
                        let content="";

                        response.criteres.forEach(element=>{
                            content+= '<div class="col-lg-6 col-md-6 item">' +
                                '<div class="cy_store_box">'+
                                '<div class="cy_store_img">'+
                                '<a href="'+Routing.generate('showAC',{id:element.id})+'">'+
                                '<img src="../../Frontend/images/store/'+element.photoA+'" class="img-fluid">'+
                                '</a>'+
                                '</div>'+
                                '<div class="cy_store_data">';

                            if (element.soldee == 0) {
                                content+= '<div class="cy_store_text">'+
                                    '<h3><a href="'+Routing.generate('showAC',{id:element.id})+'">'+element.marque+'</a></h3>'+

                                    '</div>'+
                                    '<p> '+element.description+'</p>'+
                                    '<a href="cart.html" class="cy_button"  data-hover="Add to Cart"><span > '+element.prix+'DT </span></a>';
                            }


                            else {
                                content+='<div class="cy_store_text">'+
                                    '<h3><a href="'+Routing.generate('showAC',{id:element.id})+'">'+element.marque+'</a></h3>'+
                                    '<h7 style="background-color: red ; color: white " >'+(element.prix-element.soldee)*100/element.prix+'%</h7>'+

                                    '<span >'+

                                    '<h5 style="color: red"><strike>'+element.prix+'DT</strike></h5>'+
                                    '</span>'+

                                    '</div>'+
                                    '<p> '+element.description+' </p>'+
                                    '<a href="cart.html" class="cy_button" style="background-color:red" data-hover="Add to Cart"><span >'+
                                    '<STRONG>'+element.soldee+'DT</STRONG> </span></a>';
                            }
                            content+='</div> </div> </div>';
                        })
                        $(".col-lg-6.col-md-6.col-sm-5.col-7").after(content);
                    }
                })
            })
        })
    </script>
{% endblock %}