{% extends 'home.html.twig' %}
{% block content %}
    <div class="cy_shop_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 push-lg-2">
                    <div class="cy_shop_single_page">
                        <div class="row">

                            <div class="col-lg-6 col-md-6">
                                <div class="woocommerce-product-gallery">
                                    <div id="sync1" class="owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="cy_product_img">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_img">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA1) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_img">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA2) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_img">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA3) }}" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="sync2" class="owl-carousel owl-theme">
                                        <div class="item">
                                            <div class="cy_product_thumbnail">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_thumbnail">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA1) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_thumbnail">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA2) }}" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="cy_product_thumbnail">
                                                <img src="{{ asset('Frontend/images/store/'~AC.photoA3) }}" class="img-fluid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="summary entry-summary">
                                    {% if (AC.soldee==0) %}
                                        <h1 class="product_title">{{ AC.marque }}</h1>
                                        <h4 class="product-price-amount">{{ AC.prix }}DT</h4>
                                        <p class="woocommerce-product-detail">{{ AC.description }}.</p>
                                        <div class="quantity">
                                            <input type="number" min="0" value="1">
                                            <a href="cart.html" class="cy_button">Ajouter au Panier</a>
                                        </div>
                                    {% else  %}
                                        <h1 class="product_title">{{ AC.marque }}</h1>
                                        <h7 style="background-color: red ; color: white " >{{ (AC.prix - AC.soldee)*100/AC.prix }}%</h7>
                                        <h5 style="color: red"><strike>{{ AC.prix }}DT</strike></h5>
                                        <h4 class="product-price-amount">{{ AC.soldee }}DT</h4>
                                        <p class="woocommerce-product-detail">{{ AC.description }}.</p>
                                        <div class="quantity">
                                            <input type="number" min="0" value="1">
                                            <a href="cart.html" class="cy_button">Ajouter au Panier</a>
                                        </div>
                                    {% endif  %}
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="woocommerce-tabs">
                                <ul class="tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#description"  data-toggle="tab">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#Caracteristiques"  data-toggle="tab">Caracteristiques</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade show active" id="description">
                                        <h3>Description</h3>
                                        <p>{{ AC.description }}</p>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="Caracteristiques">
                                        <h3>Caracteristiques</h3>
                                        <p>{{ AC.Caracteristiques }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>





                            <div class="cy_store_wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <h1 class="cy_heading">to our store</h1>
                                        </div></div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="cy_store_slider">
                                                <div class="owl-carousel owl-theme">
                                                    {% for i in ACs %}
                                                        <div class="item">
                                                            <div class="cy_store_box">
                                                                <div class="cy_store_img">
                                                                    <a href="{{ path('showAC', {'id': i.id}) }}"><img src="{{ asset('Frontend/images/store/'~i.photoA) }}" alt="store" class="img-fluid"></a>
                                                                    <div class="cy_store_img_overlay">
                                                                        <p>{{ i.nom }}</p>
                                                                    </div></div>
                                                                <div class="cy_store_data">
                                                                    {% if (i.soldee==0) %}
                                                                        <div class="cy_store_text">
                                                                            <h3><a href="{{ path('showAC', {'id': i.id}) }}">{{ i.marque }}</a></h3>
                                                                        </div>
                                                                        <a href="cart.html" class="cy_button" data-hover="Add to Cart"><span>{{ i.prix }}</span></a>
                                                                    {% else  %}
                                                                        <div class="cy_store_text">
                                                                            <h3><a href="{{ path('showAC', {'id': i.id}) }}">{{ i.marque }}</a></h3>

                                                                            <h7 style="background-color: red ; color: white " > {{ (i.prix - i.soldee)*100/i.prix }}% </h7></div>
                                                                        <h5 style="color: red"><strike>{{ i.prix }}DT</strike></h5>
                                                                        <a href="cart.html" class="cy_button" data-hover="Add to Cart" style="background-color: red ; color: white "><span>{{ i.soldee }}DT</span></a>
                                                                    {% endif  %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}