{%  extends "@ReclamationUser/Default/index.html.twig" %}
{% block content %}

    {{ form_start(form) }}

  <h1 align="center">Modifier une Reclamation </h1>
    <div class="card">
        <div class="card-body">



         <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Nom client</label>
            <div class="col-sm-9">
                {{ form_widget(form.nomClient,{'attr':{'class':'form-control' ,'placeholder': "First name" , 'type' : "text"} }) }}

            </div>

         </div>




            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Prenom client</label>
                <div class="col-sm-9">
                    {{ form_widget(form.prenomClient,{'attr':{'class':'form-control','placeholder': "Last name" , 'type' : "text" }}) }}

                </div>

            </div>



            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Tel</label>
                <div class="col-sm-9">
                    {{ form_widget(form.tel,{'attr':{'class':'form-control'  ,'placeholder': "Tel" , 'type' : "tel"}}) }}

                </div>

            </div>


            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Adresse</label>
                <div class="col-sm-9">
                    {{ form_widget(form.adresse,{'attr':{'class':'form-control','placeholder': "Adresse" , 'type' : "text" }}) }}

                </div>

            </div>




            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Date</label>
                <div class="col-sm-9">
                    {{ form_widget(form.date,{'attr':{'class':'form-control','placeholder': "Date" , 'type' : "date" }}) }}

                </div>

            </div>






            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Raison</label>
                <div class="col-sm-9">
                    {{ form_widget(form.raison,{'attr':{'class':'form-control' ,'placeholder': "Reason" , 'type' : "text"}}) }}

                </div>

            </div>


            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Détails</label>
                <div class="col-sm-9">
                    {{ form_widget(form.Details,{'attr':{'class':'form-control' ,'placeholder': "Details" , 'type' : "text" }}) }}

                </div>

            </div>



            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Réference Vélo</label>
                <div class="col-sm-9">
                    {{ form_widget(form.RefVelo,{'attr':{'class':'form-control' ,'placeholder': "Reference" , 'type' : "number" }}) }}

                </div>

            </div>


            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Id Client</label>
                <div class="col-sm-9">
                    {{ form_widget(form.idClient,{'attr':{'class':'form-control' ,'placeholder': "Client id" , 'type' : "number" }}) }}

                </div>

            </div>



            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label"> Email </label>
                <div class="col-sm-9">
                    {{ form_widget(form.email,{'attr':{'class':'form-control' ,'placeholder': "Email " , 'type' : "text" }}) }}

                </div>

            </div>




            <div class="form-group row">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label"> Type </label>
                <div class="col-sm-9">
                    {{ form_widget(form.type,{'attr':{'class':'form-control' ,'placeholder': "Type" , 'type' : "text" }}) }}

                </div>

            </div>




            <button type="submit" class="btn btn-primary mr-2" onclick="">Submit</button>
            <button class="btn btn-light" href="@ReclamationUser/Reclamation/ajout.html.twig">Cancel</button>



        </div>


    </div>





    {{ form_end(form) }}


{% endblock %}



